<div id="mc-status-{{ $.Ordinal }}" class="mc-status">
<div id="mc-icon-{{ $.Ordinal }}" class="mc-icon"></div>
<div id="mc-online-{{ $.Ordinal }}">Loading server status...</div>
<div id="mc-hostname-{{ $.Ordinal }}"></div>
<div id="mc-players-{{ $.Ordinal }}"></div>
<div id="mc-version-{{ $.Ordinal }}"></div>

<div><p id="mc-motd-{{ $.Ordinal }}"></p></div>
</div>
<div id="mc-player-list-{{ $.Ordinal }}" class="mc-status">
</div>

{{ with resources.Get "js/mc-status.js" }}
<script src="{{ .RelPermalink }}" ip="{{ $.Get "ip" }}" index="{{ $.Ordinal }}" async></script>
{{ end }}