.mc-status {
    background-color: #333;
    text-align: left;
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 8px;
}
.mc-icon img {
    float: left;
    margin: 16px;
}
.mc-player img {
    padding-bottom: 5px;
    vertical-align: middle;
}